**/node_modules
**/.turbo
**/.next
**/dist
**/.git
**/.env
**/.env.*
!**/.env.example
**/coverage
**/*.md
.tmp
.tmp/**
apps/_cms-strapi-build-check
apps/personal-site
apps/cms-strapi-docs
apps/ai-ops
apps/iw-portal
apps/iw-site-q2
docs
